body{
  background: #649173;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DBD5A4, #649173);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DBD5A4, #649173); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
#contentWrap{
  display: none;
}
#contentWrap{
  padding:10px;
  overflow:hidden;
  }
  
  #chat{
  padding:10px;
  float:left; 
  width:200px;
  margin:150px;
  
  }
  
  #usuarios{
         /*tambien puede poner float:right, para que se alineé a la derecha */
    padding:10px;
    width:200px;
    margin:20px;
    float:left;  
  }